@model IEnumerable<Fiap.Web.AspNet3.Models.ProdutoModel>

<h1>Produtos</h1>

@if ( ! String.IsNullOrEmpty((String) TempData["mensagem"]) ) {
    <div class="alert alert-warning" role="alert">@TempData["mensagem"]</div>
}

<p>
    <a asp-action="Novo">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdutoNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoNome)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ProdutoId">Detalhes</a>
            </td>
        </tr>
    }
    </tbody>
</table>
